
body {
  font-family: Arial, sans-serif;
  background-color: #e6f7e6; /* Verde claro */
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #228b22; /* Verde escuro */
  margin: 20px 0;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  font-size: 1rem;
  margin-right: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #228b22; /* Verde escuro */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #32cd32; /* Verde limão */
}

.teste{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100vh;
  width: 100vw;
  background-color: beige;
}

.endereco-info {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 1rem;
  color: #333;
}
