body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./img/fundoAmarelo.jpg);
    background-attachment: fixed;
    background-size: cover;
    animation: fundomechendo 90s infinite linear;
}

/* Inicio Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff; 
    background-color: #0258a8cf; 
}

.header h1 {
    margin-right: 25vw;
    font-size: 2em;
}

.imgLogo {
    padding: 5px;
    width: 13vw;
    height: auto;
    border-radius: 50%;
    transition: transform 0.4s ease;
}

.imgLogo:hover {
    transform: scale(1.03);
}

/* Fim Header */

/* Inicio Main */
.main {
    display: flex;
    margin-top: 3vw;
    justify-content: center;
    align-self: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.section a {
    text-align: center;
    padding: 10px;
    background-color: #0048a6e2; 
    border-radius: 6px;
    text-wrap: bold;
    text-decoration: none;
    color: #ffffff; 
    font-size: 1.3em;
    margin: 1.5vw;
    transition: background-color 0.4s ease, transform 0.4s ease;
}

.section a:hover {
    background-color: #003580; 
    transform: scale(1.05);
}

/* Fim Main */

/* Inicio footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0258a8cf; 
    margin-top: 3vw;
    color: #ffffff; 
    padding: 20px;
}

.imgGrupo {
    width: 20vw;
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.imgGrupo:hover {
    transform: scale(1.03);
}

.contato {
    font-size: 1.1em;
}

.contato h3 {
    text-align: center;
    font-size: 1.3em;
}

.integrantesGlobal {
    display: flex;
    gap: 25px;
    font-size: 0.9em;
    text-align: justify;
}

.tituloIntegrantes {
    text-align: center;
    font-size: 1.2em;
}

/* Fim footer */


@keyframes fundomechendo {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

/* Media Queries */
@media (max-width: 768px) {
    .header h1 {
        margin-right: 6vw;
        font-size: 2em;
    }

    .imgLogo {
        padding: 15px;
        width: 22vw;
        height: auto;
        border-radius: 50%;
    }

    .footer {
        flex-direction: column;
        margin-top: 10vw;
    }

    .imgGrupo {
        width: 30vw;
        border-radius: 15px;
        margin-top: 3vw;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
    }

    .header h1 {
        margin-right: 0;
        font-size: 1.8em;
    }

    .imgLogo {
        width: 30vw;
        height: auto;
    }

    .footer {
        flex-direction: column;
    }

    .imgGrupo {
        width: 50vw;
        border-radius: 15px;
        margin-top: 3vw;
    }

    .contato h3 {
        font-size: 1.1em;
    }
}
